.symptoms-container
  margin 2em
  min-height 85vh

.card-container 
  margin-bottom 1em
  display flex
  flex-direction column

.card-container * 
  width 100%

.list
  height 265px
  overflow-y scroll

.actions
  padding-top 20px
  display flex
  flex-direction row

.actions div
  display flex
  flex-direction row
  align-items center

.delete-icon
  max-width 42px