<!--The content below is only a placeholder and can be replaced.-->
<div class="homework">
  <h2>Homework:</h2>
  <mat-list>
    <mat-list-item>
      Create a way to submit a pain symptom with at least the following informations:
    </mat-list-item>
    <h4 class="indent" matSubheader *ngFor="let instruction of instructions.submit"> {{ instruction }}</h4>
    <mat-divider></mat-divider>
    <mat-list-item>Suggest painkillers for the user if they submit symptom with higher than 4 intensity</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Alert the patient about severe symptom if the pain intensity is higher than 8</mat-list-item>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-list-item class="tall">You can decided yourself how to implement and design the required functions. Feel free
      to focus in certain areas where you want to highlight your skills. E.g. A flexible backend implementation for the
      alerts or nice visualisation of the pain intensity selection.</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>In the next part of the interview process we will use your code as a basis for further task in a live
      coding session.</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>You can use any kind of open source libraries but remember that the code has to run on any system.
      "It works on my maschine" is not valid ;)</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Please submit your code as a zip file. Remember to clear the node and target folder.</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Have fun and don't spend to much time on this. You should not invest more than 3 hours. We are
      looking forward to see your work!</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>